{% extends 'base.html.twig' %}

{% block title %}Bientôt!{% endblock %}

{% block body %}
<div class="frontText">Ici, bientôt un site dédié à notre auberge de Jeunesse</div>

    <div class="baseText">Ce site est dédié à la réservation de chambres dans notre auberge</div>
{% endblock %}
