{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_public_house') }}" class="m-4 btn btn-primary">Retour</a>
OUI
{% endblock %}

