{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_public_house') }}" class="m-4 btn btn-primary">Retour</a>
    {{ hostel.name }}
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}

    <a href="#" class="btn btn-success">Ajouter une chambre</a>
        {% endif %}
    {% endif %}


{% endblock %}

